<!DOCTYPE html>
<html class="uk-height-1-1">
  <head>
    <title>AppsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'uikit.min', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="app" class="uk-container uk-height-1-1 uk-width-1-1">
    <%= yield %>
  </body>

</html>
